<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue事件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>

    </style>
    <link rel="stylesheet" href="../common/bootstrap.min.css">
    <script src="../common/jquery-1.7.2.js"></script>
    <script src="../common/bootstrap.js"></script>

    <script src="../common/vue.js"></script>
    <script>
        window.onload=function(){
            new Vue({
                data:{
                    list:[1,2,3,4,5,8,32,1,4,6,3,5,23]
                },
                methods:{

                }
            }).$mount('#box');
        };
    </script>
    <style>
        .red-color{
            color:red;
        }
        .bg-success{
            background-color: #66c147;
        }
    </style>
</head>
<body>
    <div class="container" id="box">
        <p>系统提供过滤器 |uppercase----- {{'welcome'|uppercase}}</p>
        <p>系统提供过滤器 |currency----- {{12344|currency}}</p>
        <p>系统提供过滤器 |currency '￥'----- {{12344|currency '￥'}}</p>
        <p>系统提供过滤器 |lowercase----- {{'WelcOme'|}}</p>
        <p>系统提供过滤器 首字母大写 |capitalize----- {{'welcome'|capitalize}}</p>
        <p>系统提供过滤器 首字母大写 |lowercase|capitalize----- {{'WELCOME'|lowercase|capitalize}}</p>
        <p>list = [1,2,3,4,5,8,32,1,4,6,3,5,23] </p>
        <div>  
            <p>xxx | limitBy 3</p> 
            <ul>
                <li v-for='item in list| limitBy 3'>{{item}}</li>
            </ul>
        </div>
        <div>  
            <p>xxx | limitBy 3 4</p> 
            <ul>
                <li v-for='item in list| limitBy 3 4'>{{item}}</li>
            </ul>
        </div>
        <div>  
            <p>xxx | filterBy 3 | orderBy 1</p> 
            <ul>
                <li v-for='item in list| filterBy 3 |orderBy 1'>{{item}}</li>
            </ul>
        </div>
        
    </div>
</body>
</html>



















